In [9]:
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
import numpy as np
import matplotlib.pyplot as plt
import re

In [13]:
acctDF = pd.read_parquet('../../data/q2-ucsd-acctDF.pqt')
consDF = pd.read_parquet('../../data/q2-ucsd-consDF.pqt')
# trxnDF = pd.read_parquet('../../data/q2-ucsd-trxnDF.pqt')

In [16]:
display(acctDF), display(consDF)

      prism_consumer_id prism_account_id account_type balance_date     balance
0                  3023                0      SAVINGS   2021-08-31     90.5700
1                  3023                1     CHECKING   2021-08-31    225.9500
2                  4416                2      SAVINGS   2022-03-31 15,157.1700
3                  4416                3     CHECKING   2022-03-31     66.4200
4                  4227                4     CHECKING   2021-07-31  7,042.9000
...                 ...              ...          ...          ...         ...
24461             11500            24461     CHECKING   2022-03-27    732.7500
24462             11615            24462      SAVINGS   2022-03-30      5.0000
24463             11615            24463     CHECKING   2022-03-30  1,956.4600
24464             12210            24464     CHECKING   2022-03-28  2,701.5100
24465             11615            24465     CHECKING   2022-03-30  7,967.4500

[24466 rows x 5 columns]

      prism_consumer_id evaluation_date  credit_score  DQ_TARGET
0                     0      2021-09-01      726.0000     0.0000
1                     1      2021-07-01      626.0000     0.0000
2                     2      2021-05-01      680.0000     0.0000
3                     3      2021-03-01      734.0000     0.0000
4                     4      2021-10-01      676.0000     0.0000
...                 ...             ...           ...        ...
14995             14995      2022-03-08      655.0000        NaN
14996             14996      2022-01-15      625.0000        NaN
14997             14997      2022-01-31      688.0000        NaN
14998             14998      2022-03-08      722.0000        NaN
14999             14999      2022-02-12      751.0000        NaN

[15000 rows x 4 columns]

(None, None)